<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      
      

      <!--Import Google Icon Font-->
      <link rel="shortcut icon" href="public/logo/favicon.ico" type="image/x-icon">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <link rel="stylesheet" href="public/css/animate.css">
      
      
      <title>BlondinkaQ Blog</title>
    </head>

<body>
     

<nav class="red">
    <div class="container">
    <div class="nav-wrapper">  
     <div class="brand-logo" >
       <a  href="https://www.instagram.com/blondinkaq/" target="_blank" class="icon hide-on-med-and-down"  ><img id="ipod" src="public/img/ipod.png"></a>
     <a  href="https://www.instagram.com/blondinkaq/" target="_blank"  ><span class="logoname">BlondinkaQ</span></a>
     </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Главная</a></li>
        <li><a href="services">Услуги</a></li>
        <li><a href="ownprojects">Наши проекты</a></li>
        <li><a href="contacts">Контакты</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="red" href="/">Главная</a></li>
        <li><a href="services">Услуги</a></li>
        <li><a class="red" href="ownprojects">Наши проекты</a></li>
        <li><a href="contacts">Контакты</a></li>
      </ul>
    </div>
  </div>
  </nav>

 <main>
  
  <div class="container sphere">
  <div class="row">
    <h1 class="col s12 red-text center-align mainfont">КОНТАКТЫ</h1>
    <h2 class="col s12 black-text center-align">+380 <span class="red-text">(063)</span> 730 16 60</h2>
   
     <h5 class="col S12 offset-s2 xl12  red-text center-align"><a class="red-text" href="mailto:artem2011as@ukr.net"><u>artem2011as@ukr.net</u></a></h5>
  </div>
 </div>
  
</main>




<footer class="red">
           <div class="footer-copyright  ">
            <div class="container ">
               <div class="row copy ">
                <div class="  col  s6" >
            Copyright 2018 - BlondinkaQ Personal Blog
          </div>
          <div class="col  s6  " >
            <a class=" right" href="https://twitter.com/blondinkaq" target="_blank"><img class="socnet" width="25" height="25" src="public/img/twitter.png"></a>
             <a class="right" href="https://t.me/topmusicword" target="_blank"><img class="socnet" width="25" height="25" src="public/img/telegram.png"></a>
            <a class="right" href="https://www.instagram.com/blondinkaq/" target="_blank"><img class="socnet" width="25" height="25" src="public/img/instagram.png"></a>
            <a class="right" href="https://www.youtube.com/channel/UChzUWTt-7xMkFJ5T6F4uZsg" target="_blank"><img class="socnet" width="25" height="25" src="public/img/youtube.png"></a>
          </div>
         </div>
             </div>
          </div>
 </footer>


<script src="public/js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="public/js/materialize.min.js"></script>


    

      <script > 
          $(".button-collapse").sideNav();

 

     </script>

    </body>
    </html>